streamlit>=1.32.0
streamlit-webrtc>=0.47.0
requests>=2.31.0
python-dotenv>=1.1.0
av>=12.0.0
gTTS>=2.5.0
SpeechRecognition>=3.10.0
streamlit-mic-recorder>=0.0.5
json-repair>=0.30.0
pypdf>=4.0.0
pillow>=10.0.0
pytesseract>=0.3.10
pdf2image>=1.16.0
python-docx>=0.8.11
openpyxl>=3.1.0
python-pptx>=0.6.23
